/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #242526;
}

/**
 * Links
 */
a {
  font-weight: normal;
  text-decoration: none; 
  color:#242526;
}
a:focus {
  outline: thin dotted;
}

small {
  font-size: 75%;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color:#242526;
}
h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }

/**
 * Paragraphs
 */
p {
  margin: 0 auto 1.5em auto; /* bottom margin for paragraphs */
}
/**
p + p {

}
*/

/**
 * Quotes & Blockquotes
 */
q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #242526;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}

/**
 * Layout styles
 */

/* Full size background image */
html, #container, .inner { background-color:transparent;}
html {
  background:url(background.jpg) center center no-repeat fixed;
  background-size:cover;
}
body {
  max-width:800px;
  margin:25px auto;
}
header, #content, footer { 
  background: rgba(0,0,0,0); /* (0,0,0,1) */
  padding:25px;
  color:#242526; 
}

/* Menu Links */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#242526;
}
ul.main-menu li a:hover {
  color:#0000FF;
}
ul.main-menu li a.active {
  color:#3d7ee0;
  border-bottom-color:#3d7ee0; /* #EF6D3D; */
}

/* General link styles */
header nav ul li a {
  color: inherit; /* Default link color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect */
header nav ul li a:hover {
  color: lightblue; /* Color when hovering over a link */
}

/* Active link */
header nav ul li a.active {
  color: blue; /* Color for the active page link */
}


/* Footer Links */
ul.main-footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
ul.main-footer li a {
  margin-right:20px;
  font-size:1.5rem;
  border-bottom: solid transparent 3px;
  color:#2c2d2e;
}
ul.main-footer li a:hover {
  color:#0000FF;
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


/* Add styles specific to The Club Violet page */
.coming-soon {
  text-align: center;
  padding: 20% 0;
  font-size: 2em;
  color: #ffffff;
  font-weight: bold;
}

.page-club-violet {
  background-color: #c070eb; /* Light purple background */
  min-height: 100vh; /* Ensure it covers the full viewport height */
}

.page-club-violet header,
.page-club-violet footer {
  background-color: #c070eb; /* Match the background color of the page */
  padding: 10px; /* Adjust padding as needed */
}